doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/main.css')
  body
    block content
    #graph
     | this is the graph container
  script(type='text/javascript', src='/js/main.js')
