doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/main.css')
  body
    block content
    #graph
     | this is the graph container
    #filterContainer
     input(type="search", id="filterSearchInput", placeholder="Search filters")
     #labelFilters
      h3 Labels
      ul(id="filterCheckList")
       li
         input(type="checkbox", class="labelFilter", id="allLabels", checked)
         | Alle
  script(type='text/javascript', src='/js/main.js')
