doctype html
html
  head
    // title = title
    title udk-graph
    link(rel='stylesheet', href='/css/main.css')
  body
    // block content
    #taskbar
     ul
      li#start
       | 
     #startMenu
      ul
       li
        a.cleanLink(href="#", id="filterShortcut")
         | filter 
       li
        a.cleanLink(href="#", id="standorteShortcut")
         | standorte
       li
        a.cleanLink(href="#", id="organigrammShortcut")
         | organigramm
       li
        a.cleanLink(href="#")
         | about
    #graph
     | this is the graph container
  script(type='text/javascript', src='/js/main.js')
