doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/main.css')
  body
    // block content
    #taskbar
     ul
      li#start
       | 
     #startMenu
      ul
       li
        a.cleanLink(href="#", id="filterShortcut")
         | filter 
       li
        a.cleanLink(href="#")
         | about
    #graph
     | this is the graph container
  script(type='text/javascript', src='/js/main.js')
